<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../static/style.css"> 
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>        
<title>Home</title>

</head>
<script>
    
    $(function(){
            window.setInterval(function(){
                loadNewDecimal()
            }, 5000)
        
            
  
        
        function loadNewDecimal(){
            $.ajax({
                url:"/imgandtitle",
                type:"POST",
                dataType:"json",
               success: function(data){
                $(title).replaceWith(data.title)
                $(weight).replaceWith(data.Weight1)
                  
               }
            });
        }
        });
  
  
    </script>

<body>
    
    
  <h1 id=fighter1>{{title}}</h1>
  <h2 id=weight>{{Weight1}}</h2>

  
   

     
    
</body>
